@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Russo+One:regular&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
  color: #e5097f;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body,
input,
button,
textarea {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 970px;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

/*
@media (max-width: 900px) {
   ._container {
      max-width: 750px;
   }
}
@media (max-width: 767.98px) {
   ._container {
      max-width: none;
   }
}

@media (max-width: 711px) {
   .container {
      max-width: none;
   }
}
*/

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 38px;
  color: #000;
  font-weight: 700;
  line-height: 1.0555555556;
  font-family: "Russo One";
}

.text {
  color: #000;
  line-height: 1.6666666667em;
}

.subtitle {
  background-color: rgba(246, 246, 221, 0.8);
  font-size: 1.25rem;
  border-radius: 0.625rem;
  line-height: 1.3636363636em;
  padding: 0.3125rem 1.25rem;
  margin-bottom: 20px;
}

.title2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 1.4375rem;
  letter-spacing: 0.0333333333em;
  font-weight: 500;
}

.header {
  background-color: #fff6fb;
  position: relative;
  z-index: 3;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
}

.header__logo-head {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.header__logo img {
  width: 6.25rem;
  height: 5rem;
}

.header__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.menu__link {
  color: #000;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1111111111em;
}

.menu__link._active {
  color: #e5097f;
}

.seasons-menu__arrow {
  display: none;
}

.navigation {
  background: rgba(255, 255, 255, 0.4);
  padding-top: 60px;
  padding-bottom: 70px;
}

.navigation__container {
  position: relative;
  z-index: 2;
}

.navigation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.navigation__title {
  text-align: center;
  padding-bottom: 20px;
}

.navigation__title h1 {
  color: #252b42;
  text-transform: uppercase;
  letter-spacing: 0.0526315789em;
}

.navigation__subtitle {
  text-align: center;
  background-color: rgba(246, 246, 221, 0.8);
  border-radius: 0.625rem;
  padding: 0 0.625rem;
}

.swiper .swiper-pagination-bullet {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1;
  font-size: 0.875rem;
  background-color: #fff;
}

.swiper .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #39cdfa;
}

.swiper__image {
  text-align: center;
  height: 450px;
}

.swiper__image img {
  max-width: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  font-size: 4.375rem;
}

/*
.background {
   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.6;
      img {
         object-position: top;
      }
   }
}
*/

.seasons-head {
  background: rgba(255, 255, 255, 0.4);
  padding-top: 60px;
  padding-bottom: 20px;
}

.seasons-head__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seasons-head__title {
  margin-bottom: 0.9375rem;
  text-align: center;
}

.seasons-head__subtitle {
  background-color: rgba(246, 246, 221, 0.8);
  text-align: center;
  border-radius: 0.625rem;
  line-height: 1.3636363636em;
  padding: 0.3125rem 1.25rem;
  margin-bottom: 20px;
}

.seasons-head__button {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  background-color: rgba(246, 246, 221, 0.5);
  border-radius: 1.875rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 24px;
  color: #000;
  font-weight: 500;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border: 1px solid #e63794;
  letter-spacing: 0.0666666667em;
}

.seasons {
  background: rgba(255, 255, 255, 0.4);
  padding-top: 15px;
  padding-bottom: 70px;
}

.seasons__container {
  background-color: rgba(246, 246, 221, 0.9);
  border-radius: 0.625rem;
}

.seasons__head {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.5333333333em;
}

.seasons__title {
  font-size: 30px;
  letter-spacing: 0.0666666667em;
}

.seasons__subtitle {
  letter-spacing: 0.0555555556em;
}

.seasons__series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seasons__item:last-child {
  margin-bottom: 30px;
}

.seasons__link {
  display: block;
  width: 220px;
  height: 160px;
  margin-bottom: 0.625rem;
}

.seasons__link img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

.seasons__episode-name {
  text-align: center;
  font-size: 1.375rem;
}

.seasons__episode-name a {
  color: #000;
}

.characters-head {
  background: rgba(255, 255, 255, 0.4);
  padding-top: 60px;
  padding-bottom: 20px;
}

.characters-head__content {
  text-align: center;
}

.characters-head__title {
  margin-bottom: 1.25rem;
}

.characters-head__subtitle {
  background-color: rgba(246, 246, 221, 0.8);
  font-size: 1.25rem;
  border-radius: 0.625rem;
  line-height: 1.3636363636em;
  padding: 0.3125rem 1.25rem;
  margin-bottom: 20px;
}

.characters-menu {
  background: rgba(255, 255, 255, 0.4);
  padding-top: 10px;
  padding-bottom: 20px;
}

.characters-menu__container {
  background-color: rgba(246, 246, 221, 0.9);
  border-radius: 0.625rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

.characters-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.characters-menu__item {
  max-width: 455px;
}

.characters-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.characters-item__image {
  display: block;
  width: 190px;
  height: 200px;
}

.characters-item__image img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

.characters-item__content {
  width: 180px;
  height: 200px;
  overflow: auto;
}

.characters-item__name {
  font-size: 1.75rem;
  color: #000;
  margin-bottom: 0.625rem;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  letter-spacing: 0.0357142857em;
}

.game-head {
  background: rgba(255, 255, 255, 0.4);
  padding-top: 60px;
  padding-bottom: 20px;
}

.game-head__content {
  text-align: center;
}

.game-head__title {
  margin-bottom: 1.25rem;
}

.game-navigation {
  background: rgba(255, 255, 255, 0.4);
  padding-bottom: 20px;
}

.game-navigation__container {
  background-color: rgba(246, 246, 221, 0.9);
  border-radius: 0.625rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

.game-navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-navigation__item a {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #000;
  letter-spacing: 0.0266666667em;
  font-size: 1.5rem;
  line-height: 1.25em;
}

.game-navigation__item a ::before {
  padding-right: 0.625rem;
  font-weight: bold;
  color: #e4d01f;
  content: "☆";
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.game-navigation__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.game-info {
  background: rgba(255, 255, 255, 0.4);
  padding-bottom: 20px;
}

.game-info__container {
  background-color: rgba(246, 246, 221, 0.9);
  border-radius: 0.625rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

.item-article__head {
  margin-bottom: 1.25rem;
}

.item-article__subtitle {
  font-size: 1.375rem;
}

.item-article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
}

.item-article__content p {
  letter-spacing: 0.02em;
  line-height: 1.3em;
}

.item-article__image {
  width: 680px;
  height: 400px;
}

.item-article__image:not(:first-child) {
  margin-top: 0.9375rem;
}

.item-article__image img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

.no-webp .main{
  background: url("../img/bgc.jpg") no-repeat; }

.main {
  /*-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;*/
  background-size: cover;
  background-position: center top;
}

body.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.popup__content {
  opacity: 1;
  background-color: #fff;
  max-width: 800px;
  position: relative;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.popup__content_video iframe {
  max-width: 100%;
  width: 950px;
  height: 450px;
}

.popup__image {
  width: 850px;
  height: 610px;
}

.popup__image img {
  max-width: 100%;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.875rem;
  color: #000;
  text-decoration: none;
  z-index: 2;
  font-family: "Russo One";
}

.popup__close._white {
  color: #fff;
}

@media (min-width: 435px) {
  .title2::before,
  .title2::after {
    font-weight: bold;
    color: #e4d01f;
    content: "☆";
  }

  .title2::before {
    padding-right: 0.625rem;
  }

  .title2::after {
    padding-left: 0.625rem;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #e5097f;
    cursor: pointer;
  }

  .seasons-menu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .seasons-menu__arrow {
    display: block;
    font-size: 0.625rem;
    margin: 0 0 0 0.7em;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    cursor: pointer;
  }

  .seasons-menu__arrow._active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .seasons-menu__list {
    position: absolute;
    top: 170%;
    right: -5rem;
    width: 250%;
    background-color: #f3acd2;
    padding: 0.9375rem;
    border-radius: 0.625rem;
    margin: 0.3125rem 0 0 0;
  }

  .seasons-menu__list li {
    text-align: center;
  }

  .seasons-menu__list li:not(:last-child) {
    margin-bottom: 0.6666666667em;
  }

  .seasons-menu__link {
    color: #000;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }

  .seasons-menu__link:hover {
    color: #fff;
  }

  .seasons-head__button:hover {
    color: #fff;
    background-color: rgba(233, 70, 157, 0.8);
    border: 1px solid rgba(233, 70, 157, 0.8);
  }

  .characters-item__name:hover {
    color: #e5097f;
  }

  .game-navigation__item:hover a {
    color: #e4d01f;
  }

  .game-navigation__item:hover a ::before {
    color: #e4d01f;
    content: "★";
  }
}

@media (max-width: 991.98px) {
  .header__logo-head {
    position: absolute;
    top: 0.03125rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .menu-icon {
    display: block;
    z-index: 2;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 20px;
  }

  .menu-icon span {
    position: absolute;
    height: 2px;
    background-color: #e5097f;
    left: 0;
    top: 9px;
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu-icon span:first-child {
    top: 0;
  }

  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu-icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-icon._active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu-icon._active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 7.5rem 0.9375rem 1.875rem;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #fff6fb;
  }

  .menu._active {
    top: 0;
  }

  .menu._active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    background-color: #fff6fb;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    margin: 0 0 1.875rem;
  }

  .menu__link {
    font-size: 34px;
  }

  .header__container {
    min-height: 5rem;
  }
}

@media (max-width: 991.98px) and (max-width: 940px) {
  .menu__link {
    font-size: calc(28px + 6 * ((100vw - 320px) / 620));
  }
}

@media (max-width: 940px) {
  .title {
    font-size: calc(26px + 12 * ((100vw - 320px) / 620));
  }

  .subtitle {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .title2 {
    font-size: calc(26px + 4 * ((100vw - 320px) / 620));
  }

  .navigation {
    padding-top: calc(30px + 30 * ((100vw - 320px) / 620));
  }

  .navigation {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 620));
  }

  .navigation__content {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 620));
  }

  .navigation__title {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .swiper__image {
    height: calc(320px + 130 * ((100vw - 320px) / 620));
  }

  .seasons-head {
    padding-top: calc(30px + 30 * ((100vw - 320px) / 620));
  }

  .seasons-head {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .seasons-head__subtitle {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .seasons-head__button {
    padding-left: calc(10px + 15 * ((100vw - 320px) / 620));
  }

  .seasons-head__button {
    padding-right: calc(10px + 15 * ((100vw - 320px) / 620));
  }

  .seasons-head__button {
    font-size: calc(20px + 4 * ((100vw - 320px) / 620));
  }

  .seasons {
    padding-top: calc(10px + 5 * ((100vw - 320px) / 620));
  }

  .seasons {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 620));
  }

  .seasons__head {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 620));
  }

  .seasons__head {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 620));
  }

  .seasons__title {
    font-size: calc(22px + 8 * ((100vw - 320px) / 620));
  }

  .seasons__item:last-child {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 620));
  }

  .seasons__link {
    width: calc(180px + 40 * ((100vw - 320px) / 620));
  }

  .seasons__link {
    height: calc(150px + 10 * ((100vw - 320px) / 620));
  }

  .characters-head {
    padding-top: calc(30px + 30 * ((100vw - 320px) / 620));
  }

  .characters-head {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .characters-head__subtitle {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .characters-menu {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 620));
  }

  .characters-menu {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .characters-menu__container {
    padding-top: calc(15px + 10 * ((100vw - 320px) / 620));
  }

  .characters-menu__container {
    padding-bottom: calc(15px + 10 * ((100vw - 320px) / 620));
  }

  .characters-menu__items {
    -webkit-column-gap: calc(5px + 10 * ((100vw - 320px) / 620));
       -moz-column-gap: calc(5px + 10 * ((100vw - 320px) / 620));
            column-gap: calc(5px + 10 * ((100vw - 320px) / 620));
  }

  .characters-item {
    gap: calc(10px + 5 * ((100vw - 320px) / 620));
  }

  .characters-item__image {
    width: calc(135px + 55 * ((100vw - 320px) / 620));
  }

  .characters-item__image {
    height: calc(150px + 50 * ((100vw - 320px) / 620));
  }

  .characters-item__content {
    width: calc(135px + 45 * ((100vw - 320px) / 620));
  }

  .characters-item__content {
    height: calc(150px + 50 * ((100vw - 320px) / 620));
  }

  .game-head {
    padding-top: calc(30px + 30 * ((100vw - 320px) / 620));
  }

  .game-head {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .game-navigation {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .game-navigation__container {
    padding-top: calc(15px + 10 * ((100vw - 320px) / 620));
  }

  .game-navigation__container {
    padding-bottom: calc(20px + 5 * ((100vw - 320px) / 620));
  }

  .game-info {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 620));
  }

  .game-info__container {
    padding-top: calc(15px + 10 * ((100vw - 320px) / 620));
  }

  .game-info__container {
    padding-bottom: calc(20px + 5 * ((100vw - 320px) / 620));
  }

  .item-article__image {
    width: calc(290px + 390 * ((100vw - 320px) / 620));
  }

  .item-article__image {
    height: calc(150px + 250 * ((100vw - 320px) / 620));
  }

  .popup__content_video iframe {
    width: calc(300px + 650 * ((100vw - 320px) / 620));
  }

  .popup__content_video iframe {
    height: calc(250px + 200 * ((100vw - 320px) / 620));
  }

  .popup__image {
    width: calc(300px + 550 * ((100vw - 320px) / 620));
  }

  .popup__image {
    height: calc(250px + 360 * ((100vw - 320px) / 620));
  }
}

@media (max-width: 746px) {
  .characters-item__image {
    width: 250px;
  }
}

@media (max-width: 667px) {
  .seasons__series {
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
}

@media (max-width: 667px) and (max-width: 940px) {
  .seasons__series {
    -webkit-column-gap: calc(15px + 30 * ((100vw - 320px) / 620));
       -moz-column-gap: calc(15px + 30 * ((100vw - 320px) / 620));
            column-gap: calc(15px + 30 * ((100vw - 320px) / 620));
  }
}

@media (max-width: 500px) {
  .characters-item__image {
    width: 190px;
  }
}

@media (max-width: 423px) {
  .seasons__link {
    width: 300px;
  }
}

@media (max-width: 380px) {
  .characters-item__image {
    width: 150px;
  }
}

.webp .main{ background: url(../img/bgc.webp) no-repeat; }